body {
    background-image: url(images/cyber-3400789.jpg);
    background-size:contain ;
}
h1{
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 40px;
}

span {
    color: red;
}
 
* {
    box-sizing: border-box;
}
.form{
    margin-left: 450px;
    margin-top: 50px;
   background: rgba(255, 255, 255, 0.8);
    width: 43%;
    padding: 20px;
}
input[type=text],select,textarea
{
    width: 100%;
    padding: 12px;
    margin-top:12px;
    margin-bottom:20px; 
}

textarea {
    height: 105px;
}

input[type=submit] {
    background-color: steelblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

input[type=submit]:hover {
    background-color: midnightblue;
}